In [ ]:
def fun(a,b):
    pass
    return 1

In [ ]:
print('something') if False else print('nothing')

In [ ]:
if True:
    print(a)
    a
else:
    print(a)

In [ ]:
l = []
l.append(1) if False else  l.append(2)
l

In [ ]:
# syntext
# a funtion withput name
# lambda input: result/expression condional statement always use else
(lambda a,b : print('maximum') if a>b else b)(8,4)

In [ ]:
l = [1,2,3,7,5,8,2,14,56,9,10,12]
list(filter(lambda a: True if a%2==0 else False, l))

In [ ]:
f(8,4)

In [ ]:
(lambda a: True if a%2==0 else False)(6)

In [ ]:
even(7)

In [ ]:
l = [1,2,3,4,5,6,7,10]
list(filter(lambda a: True if a>2 else False, l))

In [ ]:
(lambda a: a**2)(2)

In [ ]:
# sorted(l,key=fun)
l=[(1,'one'), (3,'Three'),(2,'two'),(54,'fiftyfour'), (6,'six'), (789,'seveneightynine')]
# sort the aboe list by len of the string 
# output-->
# [(1,'one'),(2,'two'),(6,'six'), (3,'Three'),(54,'fiftyfour'), (789,'seveneightynine')]
sorted(l, key = lambda a: len(a[1]))

use map,filter,sorted,lambda,input,string


create a lambda function to calculate the square of a number and use it with map function to get the square of the numbers

In [ ]:
l= [1,2,3,4,5,6,7]
list(map(lambda a: a**2, l))

In [4]:

ld=[{'name':'john', 'age':50},
    {'name':'sam', 'age':30},
    {'name':'jocky', 'age':45},
    {'name':'ankit', 'age':20},
    {'name':'amit', 'age':35},
    {'name':'aditi', 'age':25},
    {'name':'sahshi', 'age':24}]
# output-->
# [
# {'name':'ankit', 'age':20},
# {'name':'sahshi', 'age':24},
# {'name':'aditi', 'age':25},
# {'name':'sam', 'age':30},
# {'name':'amit', 'age':35},
# {'name':'jocky', 'age':45},
# {'name':'john', 'age':50}
# ]
sorted(ld, key = lambda a: a['age'])

[{'name': 'ankit', 'age': 20},
 {'name': 'sahshi', 'age': 24},
 {'name': 'aditi', 'age': 25},
 {'name': 'sam', 'age': 30},
 {'name': 'amit', 'age': 35},
 {'name': 'jocky', 'age': 45},
 {'name': 'john', 'age': 50}]

In [6]:
ld=[{'name':'john', 'age':50},
    {'name':'sam', 'age':30},
    {'name':'jocky', 'age':45},
    {'name':'ankit', 'age':20},
    {'name':'amit', 'age':35},
    {'name':'aditi', 'age':25},
    {'name':'sahshi', 'age':24}]

sorted(list(filter(lambda a: a['age']>25, ld)), key = lambda a: a['age'])

[{'name': 'sam', 'age': 30},
 {'name': 'amit', 'age': 35},
 {'name': 'jocky', 'age': 45},
 {'name': 'john', 'age': 50}]

In [7]:
# list comprehension
# syntex
# [result/expression for loop condional statement]
[ i for i in range(50) if i%3==0 and i%6==0]

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [8]:
l=[]
for i in range(50):
    if i%3 ==0 and i%6==0:
        l.append(i)
l

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [9]:
[i for i in range(50) if i%7==0]

[0, 7, 14, 21, 28, 35, 42, 49]

In [10]:
l=[]
for i in range(20):
    if i%2==0:
        l.append(i)

l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
def prime(n):
    if n==2 or n==3:
        return True
    s=int(n**(1/2))
    for i in range(2,s+1):
        if n%i==0:
            return False
    return True
[i for i in range(2,50) if prime(i)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [17]:
# matrix transpose
l=[[1,2,3],[4,5,6],[0,9,8],[5,6,7]]

# l[0][0],l[1][0],l[2][0],l[3][0]
# output-->
# [
#     [1,4,0,5],
#     [2,5,9,6],
#     [3,6,8,7]
# ]
# [[],[],[]]
[[l[j][i] for j in range(len(l))] for i in range(len(l[0]))]

[[1, 4, 0, 5], [2, 5, 9, 6], [3, 6, 8, 7]]

In [18]:
m=[]
for i in range(len(l[0])):
    a=[]
    for j in range(len(l)):
        a.append(l[j][i])
    m.append(a)
m

[[1, 4, 0, 5], [2, 5, 9, 6], [3, 6, 8, 7]]

In [ ]:
# pythagorial triplets
# a**2+b**2=c**2 (a,b,c)
# ex- [(3,4,5),(6,8,10),(5,12,13)]

In [22]:
for a in range(1,25):
    for b in range(a+1,25):
        for c in range(b+1,25):
            if a**2+b**2==c**2:
                print((a,b,c), end='  ' )

(3, 4, 5)  (5, 12, 13)  (6, 8, 10)  (8, 15, 17)  (9, 12, 15)  (12, 16, 20)

In [20]:
[(a,b,c) for a in range(1,25)  for b in range(a+1,25) for c in range(b+1,25) if a**2+b**2==c**2]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [ ]:
# use only two lines of code 
# take input from users in form of '1 one 2 two 3 three 4 four 5 five 6 six 7 seven 8 eight'
# first take the input and split it and then by using list comprehentsion start paring
# filter the even number pair
# square the numbers
# output: [(4, 'two'), (16, 'four'), (36, 'six'), (64,'eight')]

In [28]:
l = input().split()
l

 1 one 2 two 3 three 4 four 5 five 6 six 7 seven 8 eight

['1',
 'one',
 '2',
 'two',
 '3',
 'three',
 '4',
 'four',
 '5',
 'five',
 '6',
 'six',
 '7',
 'seven',
 '8',
 'eight']

In [32]:
l = input().split()
list(map(lambda t: (t[0]**2,t[1]) , list(filter(lambda t: t[0]%2==0 , [(int(l[i]),l[i+1]) for i in range(0,len(n),2)]))))

 1 one 2 two 3 three 4 four 5 five 6 six 7 seven 8 eight

[(4, 'two'), (16, 'four'), (36, 'six'), (64, 'eight')]