In [1]:
# syntex
# for variable_name in iterale_value/generator:
#     some line of code
#     1 line code
#     2nd line code
#     if variable ==5:
#          break

In [2]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# prime number
n = int(input('enter the number: '))
if 1<n<=3 or n==5:
    print('this is prime')
elif n==4 or n<=1:
    print('not prime')
if n>0:
    s = int(n**(1/2))+1
for i in range(2,s+1):
    if n%i==0:
        print('this is not prime')
        break
    elif i==s:
        print('this is prime')
        break

enter the number: 2000000011
this is prime

In [3]:
2000000011

2000000011

In [4]:
31/2

15.5

In [5]:
31/3

10.333333333333334

In [6]:
31/4

7.75

In [7]:
31/5

6.2

In [8]:
31/8

3.875

In [9]:
2,3,4,5,6

(2, 3, 4, 5, 6)

In [10]:
int(31**(1/2))+1

6

In [11]:
# find if the numer is odd or even 
# find the 2nd smallest factor of a number which is grater than 1
# ex1 - 15 - 1,3,5,15 -> 3
# ex2 - 35 - 1,5,7,35 -> 5
# ex3 - 24 - 1,2,3,4,6,8,24 -> 2

In [13]:
# find if the numer is odd or even
n = int(input('Enter the number: '))
if n%2==0:
    print('even')
else:
    print('odd')

Enter the number: 23
odd

In [27]:
# find the 2nd smallest factor of a number which is grater than 1
# ex1 - 15 - 1,3,5,15 -> 3
# ex2 - 35 - 1,5,7,35 -> 5
# ex3 - 24 - 1,2,3,4,6,8,24 -> 2
# ex4 - 17 - 1,17, - 'prime'

n = int(input('enter the number: '))
if 1<n<=3:
    print('this is prime')
elif n>0:
    s = int(n**(1/2))+1
print(s)
for i in range(2,s+1):
    print(i)
    if n%i==0:
        print('number is not prime, smallest divisor is:', i)
        break
    elif i==s:
        print('this is prime')
        break

enter the number: 35
number is not prime, smallest divisor is: 5

In [26]:
int(35**(1/2))

5

In [ ]:
2,3,4,5,6,7

In [46]:
def oddeven(v):
    if v%2==0:
        print(True)
    else:
        print(False)
if oddeven(4): #--> True , False
    print('something')
else:
    print('nothing')
type(oddeven(4))

True
nothing
True

NoneType

True

NoneType

In [45]:
def oddeven(v):
    if v%2==0:
        return True
    else:
        return False
if oddeven(4): #--> True , False
    print('something')
else:
    print('nothing')
type(oddeven(4))

something

bool

In [80]:
def prime(n): # defining the function
    if 1<n<=3:
        return True
    elif n<1:
        return False, 'not prime'
    s = int(n**(1/2))+1
    for i in range(2,s+1):
        if n%i==0:
            return False
    return True

In [81]:
prime(-4) # calling the function

(False, 'not prime')

In [82]:
prime(2000000011)

True

In [79]:
2000000011**(1/2)

44721.35967297953

In [ ]:
44721+1

In [84]:
'banana'.count('ana')

1

In [4]:
def minion_game(string):
    # your code goes here
    cv=0
    cc=0
    vowel = ('A','E','I','O','U')
    lv=[]
    lc=[]
    for i in range(len(string)):
        if string[i:].startswith(vowel):
            for j in range(i+1,len(string)+1):
                w=string[i:j]
                if w not in lv:
                    lv.append(w)
                    ind=-1
                    for k in range(len(string)):
                        if w in string[ind+1:]:
                            ind=string.find(w,ind+1)
                            cv+=1
                        else:
                            break

        else:
            for j in range(i+1,len(string)+1):
                w=string[i:j]
                print(w)
                if w not in lc:
                    lc.append(w)
                    ind=-1
                    for k in range(len(string)):
                        if w in string[ind+1:]:
                            ind = string.find(w,ind+1)
                            cc+=1
                        else:
                            break
    if  cc>cv :
         print('Stuart',cc)
    else:
        print('Kevin',cv)

In [5]:
minion_game('BANANA')

B
BA
BAN
BANA
BANAN
BANANA
N
NA
NAN
NANA
N
NA
Stuart 12

In [6]:
def minion_game(string):
    # your code goes here
    cv=0
    cc=0
    vowel = ('A','E','I','O','U')
    lv=[]
    lc=[]
    for i in range(len(string)):
        if string[i:].startswith(vowel):
            for j in range(i+1,len(string)+1):
                w=string[i:j]
                if w not in lv:
                    lv.append(w)
                    cv+=1
                    ind=string.find(w,i+1)
                    while ind!=-1:
                        cv+=1
                        ind=string.find(w,ind+1)

        else:
            for j in range(i+1,len(string)+1):
                w=string[i:j]
#                 print(w)
                if w not in lc:
                    lc.append(w)
                    cc+=1
                    ind=string.find(w,i+1)
                    while ind!=-1:
                        cc+=1
                        ind=string.find(w,ind+1)
    if  cc>cv :
         print('Stuart',cc)
    else:
        print('Kevin',cv)

In [7]:
minion_game('BANANA')

Stuart 12

In [165]:
def minion_game(string):
    # your code goes here
    s=set(string)
    cv=0
    cc=0
    vowel = ('A','E','I','O','U')
    lv=set()
    lc=[]
    n=len(string)
    ind=0
    for i in s:
        if i in vowel and string.startswith(i):

In [173]:
minion_game('BANANA')

12 6
Stuart 12

In [ ]:
if string[i:].startswith(vowel):
    l=[string[i:j] for j in range(i+1,len(string)+1)]
    lv.extend(l)
    lv=list(set(lv))
    cv+=n+1-i
    for w in l:
        if w not in lv:
            lv.append(w)
            ind=string.find(w,i+1)
            while ind!=-1:
                cv+=1
                ind=string.find(w,ind+1)

In [1]:
def minion_game(string):
    # your code goes here
    s=set(string)
    print(s)
    cv=0
    cc=0
    vowel = ('A','E','I','O','U')
    n=len(string)
    for ele in s:
        ind=string.find(ele)
        c=string.count(ele)
        for _ in range(c):
            if ele in vowel:
                cv+=n-ind
            else:
                cc+=n-ind 
            ind=string.find(ele,ind+1)  
    if  cc>cv :
         print('Stuart',cc)
    elif cc==cv:
        print('Draw')
    else:
        print('Kevin',cv)

In [2]:
minion_game('ANANAS')

{'N', 'S', 'A'}
1
5 0
5
6 0
0
6 6
Draw

In [3]:
minion_game('BANANA')

{'N', 'B', 'A'}
2
4 0
0
10 0
1
10 5
Stuart 10

In [8]:
list((1,12,3,4,5,3,1,2,3,5))

[1, 12, 3, 4, 5, 3, 1, 2, 3, 5]

In [22]:
set((1,12,3,4,5,3,1,2,3,5))

{1, 2, 3, 4, 5, 12}

In [18]:
s=set('banana')
s

{'a', 'b', 'n'}

In [23]:
s[1]

TypeError: 'set' object is not subscriptable

In [26]:
d={'a':2, 'b':10, 'n':1}

In [27]:
d['a']

2

In [28]:
for a in s:
    print(a)

n
a
b

In [30]:
p=iter(s)

In [33]:
next(p)

'b'