In [111]:
class Back:
    def __init__(self,cost,sn,no=4): #constructor
        self.price = cost # instance variable, object variable
        print(id(self))
        # self.s=sn
        print('constructor is being called')
        print(self.price,sn)
    def fun(self):
        print(self.price)
        print(self.s)
        print('something')

In [113]:
a=Back(500,12)

2353689014640
constructor is being called
500 12

In [105]:
id(a)

2353688991632

In [107]:
a.price

500

In [109]:
a.fun()

500
12
something

In [157]:
class Atm:
    def __init__(self):
        self.balence=0
        self.pin=''
        self.menu()
    def menu(self):
        n = input('''
        enter 1 to create your pin
        enter 2 to deposit
        enter 3 to withdraw
        enter 4 to check balance
        enter anything other than above to exit
        ''')
        if n=='1':
            self.change_pin()
        elif n=='2':
            self.deposit()
        elif n=='3':
            self.withdraw()
        elif n=='4':
            self.check_balance()
        else:
            print('Exited')
    def change_pin(self):
        v = input('enter your pin: ')
        self.pin=v
        print('pin set successfully')
        self.menu()
    def deposit(self,c=1):
        n = input('enter your pin: ')
        c+=1
        if n==self.pin:
            s = int(input('Enter the amount: '))
            self.balence+=s
            print('amount deposit successfull')
            self.menu()
        else:
            if c>3:
                print('please choose different options: ')
                self.menu()
            else:
                print('Invalid pin please retry')
                self.deposit(c)
    def withdraw(self):
        n = input('enter your pin: ')
        c+=1
        if n==self.pin:
            s = int(input('Enter the amount: '))
            self.balence-=s
            print('amount withdrawal successfull')
            self.menu()
        else:
            if c>3:
                print('please choose different options: ')
                self.menu()
            else:
                print('Invalid pin please retry')
                self.withdraw(c)
    def check_balance(self):
        n = input('enter your pin: ')
        c+=1
        if n==self.pin:
            print('your account balance is : ', self.balance)
            self.menu()
        else:
            if c>3:
                print('please choose different options: ')
                self.menu()
            else:
                print('Invalid pin please retry')
                self.check_balance(c)

In [ ]:
# transaction_details functions

In [153]:
a=Atm()

        enter 1 to create your pin
        enter 2 to deposit
        enter 3 to withdraw
        enter 4 to check balance
        enter anything other than above to exit
         1
enter your pin:  1234

pin set successfully

        enter 1 to create your pin
        enter 2 to deposit
        enter 3 to withdraw
        enter 4 to check balance
        enter anything other than above to exit
         2
enter your pin:  123

Invalid pin please retry

enter your pin:  123

Invalid pin please retry

enter your pin:  123

please choose different options:

        enter 1 to create your pin
        enter 2 to deposit
        enter 3 to withdraw
        enter 4 to check balance
        enter anything other than above to exit
         0

Exited

In [123]:
a.pin

'1234'

In [1]:
# static methos , class methods, class variable, instance variable, encapulation, agreegation

In [79]:
# class variable, instance variable
class Car:
    no_w = 4 # class variable
    count = 0 # class variable
    def __init__(self,type1,price,year):
        self.ty = type1 # instance Variable
        self.price= price # instance Variable
        self.year= year # instance Variable
        Car.count += 1
        print('this is my car')

In [81]:
s = Car('SUV',2000000, 2020)

this is my car

In [83]:
s.ty

'SUV'

In [85]:
s.price

2000000

In [87]:
s.year

2020

In [89]:
Car.ty

AttributeError: type object 'Car' has no attribute 'ty'

In [91]:
Car.count

1

In [93]:
s.no_w

4

In [95]:
s.no_w+=1

In [97]:
s.no_w

5

In [99]:
Car.count

1

In [101]:
Car.no_w

4

In [103]:
s1 = Car('sedan', 1200000, 2023)

this is my car

In [105]:
Car.count

2

In [107]:
s1.count

2

In [109]:
s.count

2

In [147]:
# encapulation
class Car:
    no_w = 4 # class variable
    __count = 0 # class variable
    def __init__(self,type1,price,year):
        self.ty = type1 # instance Variable
        self.price= price # instance Variable
        self.year= year # instance Variable
        self.__tech = 'Be 6e'
        Car.__count += 1
        self.model = 'electric'
        print('this is my car')

In [149]:
Car.__count

AttributeError: type object 'Car' has no attribute '__count'

In [151]:
s = Car('Thar', 2000000, 2023)

this is my car

In [153]:
s.__count

AttributeError: 'Car' object has no attribute '__count'

In [155]:
s._Car__count

1

In [158]:
s.model

'electric'

In [160]:
s._Car__tech

'Be 6e'

In [186]:
# static methos , class methods
class Car:
    no_w = 4 # class variable
    __count = 0 # class variable
    def __init__(self,model,price,year):
        self.model = model # instance Variable
        self.price= price # instance Variable
        self.year= year # instance Variable
        self.__tech = 'Be 6e'
        Car.__count += 1
        self.ty = 'electric'
        print(f'my car is {self.model}')
    def maxspeed(self):
        if self.model == 'thar':
            return '150 km/h'
    @staticmethod       
    def found_date():
        return '2 October 1945'
    @classmethod
    def vehical_type(cls, c):
        if cls.__count>c:
            return 'excilent'
        else:
            return 'fair'

In [188]:
s= Car('thar', 1500000, 2023 )

my car is thar

In [190]:
s.maxspeed()

'150 km/h'

In [192]:
Car.found_date()

'2 October 1945'

In [194]:
s.found_date()

'2 October 1945'

In [197]:
Car.vehical_type(4000)

'fair'

In [199]:
s.vehical_type(2000)

'fair'

In [67]:
# magic method
class Fraction:
    def __init__(self, n, d):
        self.num = n
        self.den = d
        # print(f'{self.num}/{self.den}')
    def __str__(self):
        return f'{self.num}/{self.den}'
    def __add__(self, v):
        res_num = self.num*v.den + self.den*v.num
        res_den = self.den*v.den
        return Fraction(res_num, res_den)
    def __sub__(self,v):
        res_num = self.num*v.den - self.den*v.num
        res_den = self.den*v.den
        return Fraction(res_num, res_den)
    def __mul__(self, v):
        res_num = self.num*v.num
        res_den = self.den*v.den
        return Fraction(res_num, res_den)
    def __truediv__(self,v):
        res_num = self.num*v.den
        res_den = self.den*v.num
        return Fraction(res_num, res_den)

In [71]:
a = Fraction(1,2)
b = Fraction(3,4)
print(a)
print(b)
c=a+b
print(c)
d=a-b
print(d)
m = a*b
print(m)
div= a/b
print(div)

1/2
3/4
10/8
-2/8
3/8
4/6

In [272]:
# agreegation
class Address:
    def __init__(self, faltno, society, city, pin):
        self.flatno = faltno
        self.society = society
        self.city = city
        self.pin = pin
    def change_address(new_faltno, new_society, new_city, new_pin):
        self.flatno = new_faltno
        self.society = new_society
        self.city = new_city
        self.pin = new_pin

class employee:
    def __init__(self,name, gender, address):
        self.name = name
        self.gender= gender
        self.address = address
        print(f"my name is {self.name}")
    def update_profile(self, new_name,new_gender,new_address):
        self.name = new_name
        self.gender= new_gender
        self.address = new_address

In [274]:
add = Address(304, 'prateek', 'ghaziabad', 201009)

In [276]:
a = employee('Shubham', 'M', add)
a.name

my name is Shubham

'Shubham'

In [278]:
a.gender

'M'

In [280]:
a.address.pin

201009

In [282]:
a.address.city

'ghaziabad'

In [284]:
a.address.society

'prateek'

In [286]:
add1 = Address(304, 'prateek', 'Noida', 200100)

In [288]:
a.update_profile('sourabh', 'M', add1)
a.name

'sourabh'

In [290]:
a.gender

'M'

In [292]:
a.address.pin

200100

In [294]:
a.address.society

'prateek'

In [296]:
a.address.city

'Noida'

In [300]:
# agreegation
class Address:
    def __init__(self, faltno, society, city, pin):
        self.flatno = faltno
        self.society = society
        self.city = city
        self.pin = pin
    def change_address(self, new_faltno, new_society, new_city, new_pin):
        self.flatno = new_faltno
        self.society = new_society
        self.city = new_city
        self.pin = new_pin

class employee:
    def __init__(self,name, gender, address):
        self.name = name
        self.gender= gender
        self.address = address
        print(f"my name is {self.name}")
    def update_profile(self, new_name,new_gender,new_faltno, new_society, new_city, new_pin):
        self.name = new_name
        self.gender= new_gender
        self.address.change_address(new_faltno, new_society, new_city, new_pin)

In [314]:
add = Address(304, 'prateek', 'ghaziabad', 201009)

In [316]:
a = employee('Shubham', 'M', add)
a.name

my name is Shubham

'Shubham'

In [318]:
a.address.city

'ghaziabad'

In [320]:
a.address.pin

201009

In [326]:
a.update_profile('sourabh', 'M',304, 'prateek', 'Noida', 200100)

In [328]:
a.name

'sourabh'

In [330]:
a.gender

'M'

In [332]:
a.address.city

'Noida'

In [336]:
a.address.pin

200100

In [153]:
# inheritance
class Phone: # Parent Class
    def __init__(self, model, price, network):
        self.__model, self.price, self.network = model, price, network
        print('this is Outdated Phone')
    def call(self):
        print('calling')
    def sms(self):
        print('message')
    def game(self):
        if self.price>2000:
            print('snake', 'colour')
        else:
            print('snake')
        
class Smartphone(Phone): # Child Class
    def __init__(self, model, price, os, brand, network):
        super().__init__(model, price, network) # super can not access encapsulated 
                                                    # variable of parant class
        print('this is Smartphone')
        self.os, self.brand = os, brand
    def game(self): # method overridding
        super().game()
        print('all games')
    def mod(self):
        print(self.__model)

In [155]:
s = Smartphone('iphone13', 50000, 'ios18', 'Apple', '5G')

this is Outdated Phone
this is Smartphone

In [157]:
s._Phone__model

'iphone13'

In [159]:
s.call()

calling

In [161]:
s.game()

snake colour
all games

In [163]:
s.sms()

message

In [166]:
s.mod()

AttributeError: 'Smartphone' object has no attribute '_Smartphone__model'

In [168]:
# polymorphism
# poly = many
# morphism - act
# method overloading
def area(h = None, b = None, r = None):
    if r:
        print('Area of Circle :')
        return 3.14*r**2
    else:
        print('Area of Rectangle :')
        return b*h

In [170]:
area(r=5)

Area of Circle :

78.5

In [172]:
area(b=2,h=5)

Area of Rectangle :

10

In [176]:
# Multihead Inheritance
class A:
    def m1(self):
        return 20
class B(A):
    def m1(self):
        return 30
    def m2(self):
        return 40
class C(B):
    def m2(self):
        return 20

In [178]:
obj1=A()
obj2=B()
obj3=C()
print(obj1.m1()+obj3.m1()+obj3.m2())

70

In [174]:
20+30+20

70

In [180]:
# Multihead Inheritance
class A:
    def m1(self):
        return 20
class B(A):
    def m1(self):
        val=super().m1()+30
        return val
class C(B):
    def m1(self):
        val=super().m1()+20
        return val
obj = C()
print(obj.m1())

70

In [182]:
# Hierarchical Inheritance
class B:
    def m1(self):
        val=30
        return val
class C(B):
    def m1(self):
        val=super().m1()+20
        return val
class D(B):
    def m1(self):
        val=super().m1()+20
        return val
obj = C()
print(obj.m1())

50

In [184]:
# Mutiple inheritance
class A:
    def m1(self):
        val1=10
        return val1
class B:
    v=3
    def m1(self):
        val2=20
        return val2
class C(A,B):
    def m3(self):
        val3=super().m1()
        print(super().v)
        return val3
obj = C()
print(obj.m3())

3
10

In [186]:
print(obj.m1())

10

In [188]:
class X:
    def calc(self):
        return 10

class Y(X):
    def calc(self):
        val = super().calc() + 20
        return val

class Z(Y):
    def calc(self):
        val = super().calc() * 2
        return val

obj = Z()
print(obj.calc())

60

In [190]:
class P:
    def show(self):
        return "Class P"

class Q:
    def show(self):
        return "Class Q"

class R(P, Q):
    def show(self):
        val = super().show() + " and Class R"
        return val

obj = R()
print(obj.show())

Class P and Class R

In [192]:
class A:
    def display(self):
        return "A"

class B(A):
    def display(self):
        return super().display() + " -> B"

class C(A):
    def display(self):
        return super().display() + " -> C"

class D(A):
    def display(self):
        return super().display() + " -> D"
    
class E(A):
    def display(self):
        return super().display() + " -> E"
    
class F(B,C,D,E):    
    def display(self):
        return super().display() + " -> F"

obj = F()
print(obj.display())

A -> E -> D -> C -> B -> F

In [194]:
# A-E-D-C-B-F

In [196]:
class Parent1:
    def __init__(self):
        print("Parent1 Constructor")

class Parent2:
    def __init__(self):
        print("Parent2 Constructor")

class Child(Parent1, Parent2):
    def __init__(self):
        super().__init__()
        print("Child Constructor")

obj = Child()

Parent1 Constructor
Child Constructor